<header>
  <link rel="stylesheet" href="static/css/styles.css">
  <div class="flex-container">
    <span>Murilo Preto</span>
    <span>
      <nav>
        <a href="/" 
           {% if current_path == "/" %}aria-current="page"{% endif %}>
          Home
        </a>

        <a href="/cv" 
           {% if current_path == "/cv" %}aria-current="page"{% endif %}>
          CV
        </a>

        <a href="/projetos" 
           {% if current_path == "/projetos" %}aria-current="page"{% endif %}>
          Projects
        </a>

        <a href="/artigos" 
           {% if current_path == "/artigos" %}aria-current="page"{% endif %}>
          Articles/Publications
        </a>
      </nav>
    </span>
  </div>
</header>
